USE [master]
GO
/****** Object:  Database [website]    Script Date: 05.06.2026 12:21:15 ******/
CREATE DATABASE [website]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'website', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\website.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'website_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\website_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [website].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [website]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 05.06.2026 12:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[tool_id] [int] NULL,
	[comment_text] [text] NULL,
	[rating] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prompts]    Script Date: 05.06.2026 12:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prompts](
	[prompt_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[prompt_text] [text] NOT NULL,
	[category] [varchar](50) NULL,
	[ai_tool] [varchar](50) NULL,
	[difficulty] [varchar](20) NULL,
	[likes_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[prompt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tools]    Script Date: 05.06.2026 12:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tools](
	[tool_id] [int] IDENTITY(1,1) NOT NULL,
	[tool_name] [varchar](100) NOT NULL,
	[description] [text] NULL,
	[category] [varchar](50) NULL,
	[website_url] [varchar](255) NULL,
	[is_free] [bit] NULL,
	[popularity_rank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tool_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPrompts]    Script Date: 05.06.2026 12:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPrompts](
	[user_prompt_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[prompt_id] [int] NULL,
	[saved_at] [datetime] NULL,
	[used_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_prompt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.06.2026 12:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[experience_level] [varchar](50) NULL,
	[favorite_ai] [varchar](100) NULL,
	[registered_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTools]    Script Date: 05.06.2026 12:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTools](
	[user_tool_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[tool_id] [int] NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_tool_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([comment_id], [user_id], [tool_id], [comment_text], [rating], [created_at]) VALUES (5, 1, 1, N'Отличный инструмент, очень помогает в работе', 5, CAST(N'2024-02-01T10:30:00.000' AS DateTime))
INSERT [dbo].[Comments] ([comment_id], [user_id], [tool_id], [comment_text], [rating], [created_at]) VALUES (6, 2, 2, N'Дороговато, но картинки шикарные', 4, CAST(N'2024-02-05T15:20:00.000' AS DateTime))
INSERT [dbo].[Comments] ([comment_id], [user_id], [tool_id], [comment_text], [rating], [created_at]) VALUES (7, 3, 3, N'Бесплатно и качественно, советую', 5, CAST(N'2024-02-10T09:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Prompts] ON 

INSERT [dbo].[Prompts] ([prompt_id], [title], [prompt_text], [category], [ai_tool], [difficulty], [likes_count]) VALUES (1, N'Пост про утро', N'Напиши короткий и смешной пост про понедельник с эмодзи', N'Текст', N'ChatGPT', N'Легкий', 45)
INSERT [dbo].[Prompts] ([prompt_id], [title], [prompt_text], [category], [ai_tool], [difficulty], [likes_count]) VALUES (2, N'Кот в космосе', N'Нарисуй кота в космосе, стиль аниме, яркие цвета, тёмный фон', N'Изображения', N'Midjourney', N'Средний', 78)
INSERT [dbo].[Prompts] ([prompt_id], [title], [prompt_text], [category], [ai_tool], [difficulty], [likes_count]) VALUES (3, N'Озвучка для видео', N'Сделай дружелюбный мужской голос, средний темп для озвучки этого текста', N'Аудио', N'ElevenLabs', N'Легкий', 34)
SET IDENTITY_INSERT [dbo].[Prompts] OFF
GO
SET IDENTITY_INSERT [dbo].[Tools] ON 

INSERT [dbo].[Tools] ([tool_id], [tool_name], [description], [category], [website_url], [is_free], [popularity_rank]) VALUES (1, N'ChatGPT', N'Текстовая нейросеть от OpenAI, отвечает на вопросы, пишет тексты', N'Текст', N'https://chat.openai.com', 1, 1)
INSERT [dbo].[Tools] ([tool_id], [tool_name], [description], [category], [website_url], [is_free], [popularity_rank]) VALUES (2, N'Midjourney', N'Генерация изображений по текстовому описанию', N'Изображения', N'https://midjourney.com', 0, 2)
INSERT [dbo].[Tools] ([tool_id], [tool_name], [description], [category], [website_url], [is_free], [popularity_rank]) VALUES (3, N'Kandinsky 3.0', N'Нейросеть для генерации изображений от Сбера', N'Изображения', N'https://kandinsky.ru', 1, 3)
SET IDENTITY_INSERT [dbo].[Tools] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPrompts] ON 

INSERT [dbo].[UserPrompts] ([user_prompt_id], [user_id], [prompt_id], [saved_at], [used_count]) VALUES (8, 1, 1, CAST(N'2024-02-01T11:00:00.000' AS DateTime), 5)
INSERT [dbo].[UserPrompts] ([user_prompt_id], [user_id], [prompt_id], [saved_at], [used_count]) VALUES (9, 1, 4, CAST(N'2024-02-01T11:05:00.000' AS DateTime), 3)
INSERT [dbo].[UserPrompts] ([user_prompt_id], [user_id], [prompt_id], [saved_at], [used_count]) VALUES (10, 2, 2, CAST(N'2024-02-06T16:00:00.000' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[UserPrompts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [email], [password_hash], [experience_level], [favorite_ai], [registered_at]) VALUES (2, N'ivan_123', N'ivan@mail.ru', N'hash_ivan1', N'Начинающий', N'ChatGPT', CAST(N'2024-01-15T10:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([user_id], [username], [email], [password_hash], [experience_level], [favorite_ai], [registered_at]) VALUES (3, N'masha_k', N'masha@mail.ru', N'hash_masha2', N'Средний', N'Midjourney', CAST(N'2024-01-20T14:30:00.000' AS DateTime))
INSERT [dbo].[Users] ([user_id], [username], [email], [password_hash], [experience_level], [favorite_ai], [registered_at]) VALUES (4, N'alex_nn', N'alex@mail.ru', N'hash_alex3', N'Продвинутый', N'Kandinsky', CAST(N'2024-02-01T09:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTools] ON 

INSERT [dbo].[UserTools] ([user_tool_id], [user_id], [tool_id], [added_at]) VALUES (8, 1, 1, CAST(N'2024-02-01T11:00:00.000' AS DateTime))
INSERT [dbo].[UserTools] ([user_tool_id], [user_id], [tool_id], [added_at]) VALUES (9, 1, 3, CAST(N'2024-02-01T11:02:00.000' AS DateTime))
INSERT [dbo].[UserTools] ([user_tool_id], [user_id], [tool_id], [added_at]) VALUES (10, 2, 2, CAST(N'2024-02-06T16:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserTools] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164AECDAAEE]    Script Date: 05.06.2026 12:21:16 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
